fastapi[all]
uvicorn[standard]
pony
python-dotenv
pyyaml
boto3
python-facebook-api
authlib
python-jose[cryptography]
facebook-sdk
pymysql
pyotp
endesive
pypdf2
pikepdf
pyHanko[pkcs11,image-support]
pdf-annotate
Jinja2==3.1.2
python-multipart
pycardano
