<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Delta Lender</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Your partner for creating and settling contracts">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta property="al:web:should_fallback" content="false"/>

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">

    <!-- CUSTOM CSS -->
    <link href="/css/common.css" rel="stylesheet">
</head>
  <body>
      <div class="container-fluid centered-flex empty-page-wrapper">
          <img src="/images/svg/icon-404.svg" style="width: 300px; height: 300px">
            <span class="h-start-flex">
                <img src="/images/svg/icon-snap.svg" style="width: 50px; height: 50px; margin-right: 12px; margin-bottom: 8px;">
                <h1 class="text-grey2 mb-2">
                    Oh snap! You've reached a dead end!!
                </h1>
            </span>
          <text class="text-grey3 mb-5">
             Recheck where you want to go.
          </text>
          <a href="/">Take me home</a>
      </div>
  </body>
</html>