<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Delta Sign</title>

    <!-- Mobile Specific Metas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sign PDF contracts on blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Logo in title  -->
    <link rel="shortcut icon" href="/static/images/png/deltasign.png" class="landing-delta-logo" type="image/png">

    <!-- Google primary font family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/themify-icons.css"/>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/snackbar.min.css"/>
    <link rel="stylesheet" href="/static/css/privacy_terms.css">
</head>
<body class="body-wrapper" data-spy="scroll">
    <!-- Sticky top nav bar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-light landing-nav-bar" id="landing-nav-bar-id">
        <div class="container-fluid landing-nav-container">
            <h1>
                <a class="navbar-brand" href="/">
                    <img src="/static/images/png/deltasign.png" class="landing-delta-logo" alt="Delta Sign"/>
                    Delta Sign
                </a>
            </h1>
            <div class="collapse navbar-collapse" id="landing-top-nav">
                <div class="navbar-nav ml-auto">
                    <div class="landing-footer-join-community">
                        <ul class="social-icon list-inline no-padding no-margin">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/DeltaSignIO" target="_blank"><i class="ti-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--  content   -->
    <div class="bg-pearl">
        <div class="row g-6 no-margin landing-nav-container adjusted-content">
            <div class="col-lg-4 col-md-0 no-padding toc-col">
              <div class="toc-div">
                  <ul class="no-style-ul no-padding">
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-privacy');">
                              Privacy Policy for Delta Sign
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-consent');">
                              Consent
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-info-we-collect');">
                              Information we collect
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-how-we-use');">
                              How we use your information
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-log-files');">
                              Log files
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-cookies');">
                              Cookies and Web Beacons
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-ad-partners-policies');">
                              Advertising Partners Privacy Policies
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-third-policies');">
                              Third Party Privacy Policies
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-ccpa-rights');">
                              CCPA Privacy Rights (Do Not Sell My Personal Information)
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-gdpr-rights');">
                              GDPR Data Protection Rights
                          </text>
                      </li>
                      <li>
                          <text class="terms-conditions-toc-text" onclick="scrollToView('toc-children-info');">
                              Children's Information
                          </text>
                      </li>
                  </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-12 content-col">
                <!--   privacy policy          -->
                <section>
                    <h3 id="toc-privacy">Privacy Policy for Delta Sign</h3>
                    <text>
                        We respect the privacy of the visitors and the users of the website https://deltasign.io and the smartphone
                        App, collectively referred as Delta Sign. This Privacy Policy document contains the information we collect,
                        record and use through the website and the app. This information is processed by the owning company Sireto
                        Technology Pvt. Ltd.
                    </text>
                    <text>
                        This Privacy Policy applies to online activities at the website and app usage and is valid for visitors of
                        the website https://deltasign.io and the app users with regards to the information that is being shared
                        with us.
                    </text>
                    <text>
                        This policy is not applicable to any information collected offline or via channels other than this website.
                    </text>
                </section>

                <!--   consent         -->
                <section>
                    <h3 id="toc-consent">Consent</h3>
                    <text>
                        By using Delta Sign, you consent to our Privacy Policy and agree with its terms.
                    </text>
                </section>

                <!--     info we collect       -->
                <section>
                    <h3 id="toc-info-we-collect">
                        Information we collect
                    </h3>
                    <text>
                        The personal information that you are asked to provide, and the reasons why you are
                        asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
                    </text>
                    <text>
                        If you contact us directly, we may receive additional information about you such as your name,
                        email address, phone number, the contents of the message and/or attachments you may send us, and any
                        other information you may choose to provide.
                    </text>
                    <text>
                        When you register for an Account, we may ask for your contact information, including items
                        such as name, email address, and telephone number, and city or country location. While using the app,
                        you provide information about the business contracts you create in the app.
                    </text>
                </section>

                <!--  how we use info           -->
                <section>
                    <h3 id="toc-how-we-use">How we use your information</h3>
                    <text>
                        We use the information we collect in various ways for our website:
                    </text>
                    <ul>
                        <li>
                            <text>To provide, operate, and maintain</text>
                        </li>
                        <li>
                            <text>To improve, personalize, and expand</text>
                        </li>
                        <li>
                            <text>To understand and analyze the usage</text>
                        </li>
                        <li>
                            <text>To develop new products, services, features and functionality</text>
                        </li>
                        <li>
                            <text>
                                To communicate with you, either directly or through one of our partners, including customer
                                service, to provide you with updates and other information relating to the website, and for marketing
                                and promotional purposes
                            </text>
                        </li>
                        <li>
                            <text>
                                To send you emails
                            </text>
                        </li>
                        <li>
                            <text>
                                To detect and prevent fraud
                            </text>
                        </li>
                    </ul>
                </section>

                <!--    log files        -->
                <section>
                    <h3 id="toc-log-files">Log files</h3>
                    <text>
                        Delta Sign follows a standard procedure of using log files. These files log visitors when they access
                        the website and the app. We are not alone in collecting this information, all hosting companies do
                        this as part of their hosting services analytics.
                    </text>
                    <text>
                        The information collected by log files include internet protocol (IP) addresses, browser type,
                        Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number
                        of clicks.
                    </text>
                    <text>
                        This information is not linked to any information that is personally identifiable. The purpose of
                        using this information is to analyze trends, administer the website, tracking users movement on the
                        website, and gathering demographic information.
                    </text>
                </section>

                <!--  cookies and web beacons           -->
                <section>
                    <h3 id="toc-cookies">Cookies and Web Beacons</h3>
                    <text>
                        Like any other website, Delta Sign uses 'cookies'. These cookies are used to store information,
                        pages on the website that the visitor accessed or visited including visitors preferences. This information
                        is used to optimize the users experience by customizing our web page content based on visitors browser type
                        and/or other information.
                    </text>
                    <text>
                        For more general information on cookies, please read
                        "<a href="https://www.cookieconsent.com/what-are-cookies/">What are Cookies</a>".
                    </text>
                </section>

                <!--     ad partners privacy policies       -->
                <section>
                    <h3 id="toc-ad-partners-policies">Advertising Partners Privacy Policies</h3>
                    <text>
                        You may consult this list to find the Privacy Policy for each of the advertising partners of Sireto
                        Technology, the parent company.
                    </text>
                    <text>
                        Third-party ad servers or ad networks use technologies like cookies, JavaScript, or Web beacons
                        that are used in their respective advertisements and links that appear on the website.
                    </text>
                    <text>
                        These third-parties receive automatically your IP address in case you click their advertisement or link.
                    </text>
                    <text>
                        These technologies are used to measure the effectiveness of their advertising campaigns and/or to
                        personalize the advertising content.
                    </text>
                    <text>
                        Note that Delta Sign has no access to or control over these cookies that are used by third-party
                        advertisers.
                    </text>
                </section>

                <!--     third party policies       -->
                <section>
                    <h3 id="toc-third-policies">Third Party Privacy Policies</h3>
                    <text>
                        Delta Sign's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to
                        consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may
                        include their practices and instructions about how to opt-out of certain options.
                    </text>
                    <text>
                        You can choose to disable cookies through your individual browser options. To know more detailed
                        information about cookie management with specific web browsers, it can be found at the browsers' respective websites.
                    </text>
                </section>

                <!--      ccpa dont sell info     -->
                <section>
                    <h3 id="toc-ccpa-rights">CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
                    <text>
                        Under the CCPA, among other rights, California consumers have the right to:
                    </text>
                    <text>
                        Request that a business that collects a consumer's personal data disclose the categories and
                        specific pieces of personal data that a business has collected about consumers.
                    </text>
                    <text>
                        Request that a business delete any personal data about the consumer that a business has collected.
                    </text>
                    <text>
                        Request that a business that sells a consumer's personal data, not sell the consumer's personal data.
                    </text>
                    <text>
                        If you make a request, we have one month to respond to you. If you would like to exercise any of
                        these rights, please contact us at privacy (at) deltasign.io.
                    </text>
                </section>

                <!--   gdpr data rights         -->
                <section>
                    <h3 id="toc-gdpr-rights">GDPR Data Protection Rights</h3>
                    <text>
                        We would like to make sure that you are fully aware of all of your data protection rights.
                        Every user is entitled to the following:
                    </text>
                    <ul>
                        <li>
                            <p>
                                <b>The right to access: </b>
                                You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
                        </li>
                        <li>
                            <p>
                                <b>The right to rectify: </b>
                                You have the right to request us to correct any information you believe is inaccurate. You also have the right to request to complete information you believe is incomplete.</p>
                        </li>
                        <li>
                            <p>
                                <b>The right to erase: </b>
                                You have the right to request us to erase your personal data.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>The right to restrict processing: </b>
                                You have the right to request us to restrict the processing of your personal data.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>The right to object to processing: </b>
                                You have the right to object against our processing of your personal data.
                            </p>
                        </li>
                        <li>
                            <p>
                                <b>The right to data portability: </b>
                                You have the right to request us to transfer your data we collected to another organization, or directly to you.
                            </p>
                        </li>
                    </ul>
                </section>

                <!--       children info     -->
                <section>
                    <h3 id="toc-children-info">Children's Information</h3>
                    <text>
                        Another part of our priority is adding protection for children while using the internet. We encourage
                        parents and guardians to observe, participate in, and/or monitor and guide their online activity.
                    </text>
                    <text>
                        Delta Sign does not knowingly collect any Personal Identifiable Information from children under the
                        age of 13. If you think that your child provided this kind of information on our website or in our
                        app, we strongly encourage you to contact us immediately and we will do our best efforts to promptly
                        remove such information from our records.
                    </text>
                    <text>
                        In case you have additional questions or require more information about our Privacy Policy, do not
                        hesitate to contact us at privacy (at) deltasign.io.
                    </text>
                </section>
            </div>
        </div>
    </div>

    <script src="/static/js/navbar-scroll.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src='/static/js/snackbar.min.js'></script>

    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/jquery-ui.1.21.1.js"></script>
    <script src="/static/js/call-action-dialogue.js"></script>

</body>
</html>