<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Delta Sign</title>

    <!-- Mobile Specific Metas -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sign PDF contracts on blockchain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <!-- Logo in title  -->
    <link rel="shortcut icon" href="/static/images/png/deltasign.png" class="landing-delta-logo" type="image/png">

    <!-- Google primary font family -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">

    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/themify-icons.css"/>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/landing.css">
    <link rel="stylesheet" href="/static/css/snackbar.min.css"/>
    <link rel="stylesheet" href="/static/css/privacy_terms.css">
</head>
<body class="body-wrapper" data-spy="scroll">
    <!-- Sticky top nav bar -->
    <nav class="navbar sticky-top navbar-expand-md navbar-light landing-nav-bar" id="landing-nav-bar-id">
        <div class="container-fluid landing-nav-container">
            <h1>
                <a class="navbar-brand" href="/">
                    <img src="/static/images/png/deltasign.png" class="landing-delta-logo" alt="Delta Sign"/>
                    Delta Sign
                </a>
            </h1>
            <div class="collapse navbar-collapse" id="landing-top-nav">
                <div class="navbar-nav ml-auto">
                    <div class="landing-footer-join-community">
                        <ul class="social-icon list-inline no-padding no-margin">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/DeltaSignIO" target="_blank"><i class="ti-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!--  content   -->
    <div class="bg-pearl">
        <div class="row g-6 no-margin landing-nav-container adjusted-content">
            <div class="col-lg-4 col-md-0 no-padding toc-col">
                <div class="toc-div">
                    <ul class="no-style-ul no-padding">
                        <li>
                            <text class="terms-conditions-toc-text" onclick="scrollToView('toc-terms-condn');">
                                Terms & Conditions
                            </text>
                        </li>
                        <li>
                            <text class="terms-conditions-toc-text" onclick="scrollToView('toc-change-terms-condn');">
                                Changes to This Terms and Conditions
                            </text>
                        </li>
                        <li>
                            <text class="terms-conditions-toc-text" onclick="scrollToView('toc-contact-us');">
                                Contact us
                            </text>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 content-col">

                <!--      terms and conditions      -->
                <section>
                    <h3 id="toc-terms-condn">Terms & Conditions</h3>
                    <text>
                        By using Delta Sign website (<a href="https://deltasign.io" target="_blank">https://deltasign.io</a>)
                        and App, collectively referred as Delta Sign, these terms will automatically apply to you – you should make sure therefore that you read them
                        carefully before using the website. You’re not allowed to copy, or modify the website, any part of
                        the website, or our trademarks in any way. You’re not allowed to attempt to extract the source code
                        of the website, translate the website into another language and make derivative versions. The website
                        itself, and all the trademarks, copyright, database rights and other intellectual property rights
                        related to it, belong to the owning company Sireto Technology Pvt. Ltd.
                    </text>
                    <text>
                        Delta Sign is committed to ensure that the website and the app is as useful and efficient as possible.
                        For that reason, we reserve the right to make changes to the website and the app or to charge for its
                        services, at any time and for any reason. We will never charge you for the website or its services
                        without making it very clear to you exactly what you’re paying for.
                    </text>
                    <text>
                        The website does use third party services that declare their own Terms and Conditions.
                    </text>
                    <text>
                        Link to Terms and Conditions of third party service providers used by the app
                    </text>
                    <ul>
                        <li>
                            <a href="https://policies.google.com/terms" target="_blank">
                                Google Play Service
                            </a>
                        </li>
                        <li>
                            <a href="https://firebase.google.com/terms/analytics" target="_blank">
                                Google Analytics for Firebase
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/legal/terms/plain_text_terms" target="_blank">
                                Facebook
                            </a>
                        </li>
                    </ul>
                    <text>
                        Not in all cases Delta Sign can be held responsible since it is relying on third-party services.
                        These parties have their own policies, please take notice of them.
                    </text>
                    <text>
                        Delta Sign can not be held responsible for any loss, direct or indirect as a result of using the
                        website. Although we endeavour to ensure the website and the app is updated and correct at all times
                        we do rely on third parties to provide information to make the website available to you.
                        You promise to always accept updates to the website and the app when offered to you. We may also wish
                        to stop providing the website and the app, and may terminate use of it at any time without giving
                        notice of termination to you. Unless we tell you otherwise, upon any termination, the
                        rights and licenses granted to you in these terms will end.
                    </text>
                </section>

                <!--       changes to this terms and condn     -->
                <section>
                    <h3 id="toc-change-terms-condn">
                        Changes to This Terms and Conditions
                    </h3>
                    <text>
                        We may update our Terms and Conditions from time to time. Thus, you are advised to review this page periodically for any changes.
                        We will notify you of any changes by posting the new Terms and Conditions on this page.
                    </text>
                </section>

                <!--      contact us       -->
                <section>
                    <h3 id="toc-contact-us">Contact us</h3>
                    <text>
                        If you have any questions or suggestions about our Terms and Conditions, do not hesitate to contact us at info (at) deltasign.io.
                    </text>
                </section>
            </div>
        </div>
    </div>
    <script src="/static/js/navbar-scroll.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src='/static/js/snackbar.min.js'></script>
    <script src="/static/js/handle-subscription.js"></script>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/jquery-ui.1.21.1.js"></script>
</body>
</html>