name: Docker Image Build

on:
  push:
    branches:
      - dev
      - master
    tags:
      - "*"

jobs:
  build-and-push:
    name: Build and Push Docker Images
    runs-on: builder

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: registry.sireto.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Determine compose file and env vars
        id: compose
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/master" ]] || [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo "file=docker-compose-staging.yml" >> $GITHUB_OUTPUT
            echo "tag_var=IMAGE_TAG" >> $GITHUB_OUTPUT
          else
            echo "file=docker-compose-dev.yml" >> $GITHUB_OUTPUT
            echo "tag_var=COMMIT_SHA" >> $GITHUB_OUTPUT
          fi

      - name: Build images
        run: |
          docker compose -f ${{ steps.compose.outputs.file }} build
        env:
          COMMIT_SHA: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}
          IMAGE_TAG: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}
          VIRTUAL_HOST: ${{vars.STAGING_VIRTUAL_HOST}}

      - name: Push images
        run: |
          docker compose -f ${{ steps.compose.outputs.file }} push \
           || docker compose -f ${{ steps.compose.outputs.file }} push \
           || docker compose -f ${{ steps.compose.outputs.file }} push
        env:
          COMMIT_SHA: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}
          IMAGE_TAG: ${{ github.ref_type == 'tag' && github.ref_name || github.sha }}